version: "3.9"
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
  web:
    build: .
    command: sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/home/app
    ports:
      - "3000:3000"
    env_file: .env
    environment:
      DATABASE_PASSWORD: postgres
      DATABASE_USERNAME: postgres
      DATABASE_HOST: db
    depends_on:
      - db